In [2]:
import sqlite3
import pandas as pd

# 1️⃣ DB 파일 연결 (없으면 새로 생성됨)
연결 = sqlite3.connect("연습용.db")
커서 = 연결.cursor()

# 2️⃣ 기존 테이블 삭제 후 새로 생성
커서.execute("DROP TABLE IF EXISTS 판매내역")
커서.execute("""
CREATE TABLE 판매내역 (
    번호       INTEGER PRIMARY KEY,
    상품명     TEXT NOT NULL,
    수량       INTEGER NOT NULL,
    단가       REAL NOT NULL,
    판매일자   TEXT NOT NULL
)
""")

# 3️⃣ 예시 데이터 입력
데이터목록 = [
    (1, '아메리카노', 2, 3500, '2025-10-30'),
    (2, '라떼',       1, 4200, '2025-10-30'),
    (3, '에스프레소', 3, 2800, '2025-10-31'),
]
커서.executemany("INSERT INTO 판매내역 VALUES (?, ?, ?, ?, ?)", 데이터목록)
연결.commit()

# 4️⃣ SQL로 데이터 조회 → pandas DataFrame 변환
쿼리 = """
SELECT 
  상품명,
  SUM(수량) AS 총수량,
  ROUND(SUM(수량 * 단가), 0) AS 매출합계
FROM 판매내역
GROUP BY 상품명
ORDER BY 매출합계 DESC
"""
결과 = pd.read_sql_query(쿼리, 연결)

연결.close()

# 5️⃣ 결과 출력
결과

     상품명  총수량    매출합계
0  에스프레소    3  8400.0
1  아메리카노    2  7000.0
2     라떼    1  4200.0